{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('customer_campaign_create') }}">New Campaign</a>

    <h2>Users list</h2>

    {% if campaign_created %}
        <div>{{ campaign_created }}</div>
    {% endif %}
    <table>
        <tr>
            <th>Title</th>
            <th>Shortcode</th>
            <th>Отчеты</th>
            <th>Donated</th>
            <th>Registered</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.title }}</td>
                <td><a href="{{ campaign_url }}{{ campaign.id }}">{{ campaign_url }}{{ campaign.id }}</a></td>
                <td>
                    {#<ul>
                        {% for role in user.roles %}
                            <li>{{ role.name }}</li>
                        {% endfor %}
                    </ul>#}
                </td>
                <td>0.00 {{ campaign.currency }}</td>
                <td>{{ campaign.changed|date("d/m/Y") }}</td>
                <td>{{ campaign.status.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('customer_campaign_edit', { 'id' : campaign.id, 'page' : page }) }}">Edit</a>
                        </li>

                        {% if campaign.status.status != 'ON_MODERATION' %}
                            {% if campaign.status.status == 'BLOCKED' %}
                                <li>
                                    <a href="{{ path('customer_campaign_activate', { 'id' : campaign.id, 'page' : page }) }}">Activate</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('customer_campaign_block', { 'id' : campaign.id, 'page' : page }) }}">Block</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="{{ path('customer_campaign_delete', { 'id' : campaign.id, 'page' : page }) }}">Delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% for pageId in pages %}
        <a href="{{ path('customer_campaign', { 'page': pageId }) }}">{{ pageId }}</a>
    {% endfor %}


{% endblock %}
