<ul class="nav">
    <li><a href="{{ path('customer_home') }}">Home</a></li>
    <li><a href="{{ path('customer_campaign') }}">Кампании</a></li>
    <li><a href="{{ path('transaction_report') }}">Транзакции</a></li>
    <li><a href="{{ path('campaign_report') }}">Отчеты</a></li>
    <li><a href="{{ path('customer_settings') }}">Настройки</a></li>
    <li><a href="{{ path('logout') }}">Выйти</a></li>
</ul>