<ul class="nav">
    <li><a href="{{ path('admin_home') }}">Home</a></li>
    <li><a href="{{ path('admin_user') }}">Пользователи</a></li>
    <li><a href="{{ path('admin_campaign_show_all') }}">Кампании</a></li>
    <li><a href="{{ path('transaction_report') }}">Транзакции</a></li>
    <li><a href="{{ path('logout') }}">Выйти</a></li>
</ul>