<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Oferta</title>
</head>
<body style="margin: 30px">
<h2>Договор о добровольном пожертвовании</h2>
<p>г. Москва, {{ time }}
<p>{{ settings.companyName }}, в лице {{ settings.position }} {{ settings.directorName }}, действующего на основании {{ settings.authority }}, именуемый в дальнейшем «Благополучатель», настоящим предлагает физическим лицам, именуемым в дальнейшем «Благотворитель», заключить Договор о добровольном пожертвовании на нижеследующих условиях:
<p>1. Предмет договора
<p>1.1. Данное предложение является публичной офертой (предложением о совершении сделки) в соответствии с пунктом 2 статьи 437 Гражданского Кодекса РФ. Акцептом настоящей оферты (принятием предложения) является осуществление Благотворителем перечисления денежных средств Благополучателю. Принятие данного предложения Благотворителем означает, что последний ознакомился и согласен со всеми условиями настоящего Договора о добровольном пожертвовании с Благополучателем.
<p>1.2. По настоящему договору Благотворитель в качестве добровольного пожертвования перечисляет собственные денежные средства Благополучателю, а Благополучатель принимает пожертвование и использует на уставные цели.
<p>2. Заключение договора
<p>2.1. Моментом заключения договора и вступления его в силу считается момент получения Благополучателем перечисленных Благотворителем в качестве пожертвования денежных средств. Настоящий договор действует до момента полного выполнения сторонами принятых на себя обязательств и может продлеваться вновь неограниченное количество раз путем очередного перечисления добровольного пожертвования Благотворителем.
<p>3. Права и обязанности сторон
<p>3.1. Благополучатель обязуется использовать полученные от Благотворителя по настоящему договору денежные средства в соответствии с целевым назначением пожертвования в случае, если Благотворитель в платежном документе указал определенную программу Благополучателя для целевого пожертвования или иное конкретное назначение.
<p>3.2. В случае, когда Благотворитель не указал целевое назначение пожертвования, пожертвование расходуется Благополучателем на уставную деятельность.
<p>3.3. Благополучатель не несет перед Благотворителем иных обязательств, кроме обязательств, указанных в настоящем Договоре.
<p>4. Размер пожертвования
<p>4.1. Благотворитель самостоятельно определяет сумму добровольного пожертвования и перечисляет его на расчетный счет Благополучателя на условиях настоящего Договора.
<p>4.2. При выборе Благотворителем соответствующей опции в форме платежа Благотворитель предоставляет Благополучателю право прямого дебетования (перевода денежных средств по требованию Благополучателя) счета Благотворителя на условиях настоящего Договора до момента прекращения Благотворителем соответсвующего права Благополучателя.
<p>5. Прочие условия
<p>5.1. В случае возникновения споров и разногласий между Сторонами по настоящему договору, они будут по возможности разрешаться путем переговоров. В случае невозможности разрешения спора путем переговоров, споры и разногласия могут решаться в соответствии с действующим законодательством Российской Федерации в судебных инстанциях по месту нахождения Благополучателя.
<p>6. Реквизиты БЛАГОПОЛУЧАТЕЛЯ:
<p>{{ settings.details }}</p>
<!-- Яндекс.Метрика -->
<script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter152220 = new Ya.Metrika({id: 152220,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
                w.jQuery('body').trigger('ya-counter-152220-inited');
            } catch(e) {}
        });
    })(window, 'yandex_metrika_callbacks');
</script>
<script src="//mc.yandex.ru/metrika/watch_visor.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/152220" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!--  -->

<!-- google -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19216811-1']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setDomainName', '.yandex.net']);
    _gaq.push(['_addOrganic', 'Mail', 'q']);
    _gaq.push(['_addOrganic', 'Nigma', 'q']);
    _gaq.push(['_addOrganic', 'Webalta', 'q']);
    _gaq.push(['_addOrganic', 'Aport', 'r']);
    _gaq.push(['_addOrganic', 'Gogo', 'q']);
    _gaq.push(['_addOrganic', 'QIP', 'query']);
    _gaq.push(['_trackPageview']);
    (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

</script>
<!--  -->
</body>
</html>