<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Oferta</title>
</head>
<body style="margin: 30px">
<h2>Договор о добровольном пожертвовании</h2>
<p>г. Москва, {{ time }}
<p>{{ settings.companyName }}, в лице {{ settings.position }} {{ settings.directorName }}, действующего на основании {{ settings.authority }}, именуемый в дальнейшем «Благополучатель», настоящим предлагает физическим лицам, именуемым в дальнейшем «Благотворитель», заключить Договор о добровольном пожертвовании на нижеследующих условиях:
<p>1. Предмет договора
<p>1.1. Данное предложение является публичной офертой (предложением о совершении сделки) в соответствии с пунктом 2 статьи 437 Гражданского Кодекса РФ. Акцептом настоящей оферты (принятием предложения) является осуществление Благотворителем перечисления денежных средств Благополучателю. Принятие данного предложения Благотворителем означает, что последний ознакомился и согласен со всеми условиями настоящего Договора о добровольном пожертвовании с Благополучателем.
<p>1.2. По настоящему договору Благотворитель в качестве добровольного пожертвования перечисляет собственные денежные средства Благополучателю, а Благополучатель принимает пожертвование и использует на уставные цели.
<p>2. Заключение договора
<p>2.1. Моментом заключения договора и вступления его в силу считается момент получения Благополучателем перечисленных Благотворителем в качестве пожертвования денежных средств. Настоящий договор действует до момента полного выполнения сторонами принятых на себя обязательств и может продлеваться вновь неограниченное количество раз путем очередного перечисления добровольного пожертвования Благотворителем.
<p>3. Права и обязанности сторон
<p>3.1. Благополучатель обязуется использовать полученные от Благотворителя по настоящему договору денежные средства в соответствии с целевым назначением пожертвования в случае, если Благотворитель в платежном документе указал определенную программу Благополучателя для целевого пожертвования или иное конкретное назначение.
<p>3.2. В случае, когда Благотворитель не указал целевое назначение пожертвования, пожертвование расходуется Благополучателем на уставную деятельность.
<p>3.3. Благополучатель не несет перед Благотворителем иных обязательств, кроме обязательств, указанных в настоящем Договоре.
<p>4. Размер пожертвования
<p>4.1. Благотворитель самостоятельно определяет сумму добровольного пожертвования и перечисляет его на расчетный счет Благополучателя на условиях настоящего Договора.
<p>4.2. При выборе Благотворителем соответствующей опции в форме платежа Благотворитель предоставляет Благополучателю право прямого дебетования (перевода денежных средств по требованию Благополучателя) счета Благотворителя на условиях настоящего Договора до момента прекращения Благотворителем соответсвующего права Благополучателя.
<p>5. Прочие условия
<p>5.1. В случае возникновения споров и разногласий между Сторонами по настоящему договору, они будут по возможности разрешаться путем переговоров. В случае невозможности разрешения спора путем переговоров, споры и разногласия могут решаться в соответствии с действующим законодательством Российской Федерации в судебных инстанциях по месту нахождения Благополучателя.
<p>6. Реквизиты БЛАГОПОЛУЧАТЕЛЯ:
<p>{{ settings.details }}</p>

</body>
</html>