<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ campaign.subtitle }} - {{ settings.companyName }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/campaign/payment/css/font.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/campaign/payment/css/styles.css') }}"/>
    <script src="{{ asset('bundles/saasbundle/campaign/payment/js/libs/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/saasbundle/campaign/payment/js/app.js') }}"></script>
</head>
<body>

<div class="page-wrapper">
    <header>
        <div class="content">
            <h1>{{ settings.companyName }}</h1>

            <div class="logo"><img src="{{ imageStoragePath }}{{ logo }}" alt="{{ logo }}"></div>
        </div>
    </header>
    <div class="line"></div>
    <div class="content">
        <h2>{{ campaign.subtitle }}</h2>

        <p>{{ description | raw }}
            <!--<a href="#">Подробнее</a>-->
        </p>

        <div class="large_img">
            <img src="{{ imageStoragePath }}{{ campaign.bigPicPath }}">
        </div>
        <div class="line"></div>
        <h2>Ваша помощь проекту</h2>
    </div>
    <form method="POST" enctype="application/x-www-form-urlencoded" id="payment_form" autocomplete="off"
          action="{{ paymentHost }}">

        <input name="shopId" value="{{ yandexKassa.shopid }}" type="hidden"/>
        <input name="scid" value="{{ yandexKassa.scid }}" type="hidden"/>
        <input name="customerNumber" value="{{ customerNumber }}" type="hidden"/> {# value <?php echo time();?>#}
        <input name="noIDcustomerNumber" value="{{ noIDcustomerNumber }}"
               type="hidden"/> {# value <?php echo time();?>#}
        <input name="orderNumber" value="{{ campaign.id }}-{{ uniqueId }}" type="hidden"/>

        <input name="shopSuccessURL" value="{{ paymentPage }}" type="hidden"/>
        <input name="shopFailURL" value="{{ paymentPage }}" type="hidden"/>

        <div class="amount">
            <div class="content">
                <div class="fields">
                    <div class="item">
                        <input type="text" class="value" placeholder="сумма" name="sum"
                               value="{% if campaign.minAmount>0 %}{{ campaign.minAmount }}{% endif %}"/>

                        <p class="rouble_sign">
                            <span class="rur">a</span>
                        </p>
                        <span class="error_msg" data-missing="Вы не заполнили это поле"></span>
                    </div>
                    <div class="item times_box">
                        <select class="times" id="times" name="rebillingOn">
                            <option value="">отправить один раз</option>
                            {% if yandexKassa.ac == 1 %}
                            <option value="1">отправлять каждый месяц</option>
                            {% endif %}
                        </select>

                        <div class="tooltip">
                            <span>Деньги будут автоматически списываться с банковской карты, <br>данные которой вы укажете. Отменить это можно в любой момент.</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="user_form">
                <div class="fields">
                    <div class="item">
                        <label for="fio">Имя</label>
                        <input type="text" id="fio" name="customerName" placeholder="Необязательно"/>
                        <span class="error_msg"
                              data-missing="Максимальная длина текста в этом поле — <br>12 символов"></span>
                    </div>
                    <div class="item">
                        <label for="email">Email *</label>
                        <input type="text" id="email" name="customerEmail">
                        <span class="error_msg"
                              data-invalid="Здесь что-то не так. Проверьте адрес и попробуйте еще раз."
                              data-missing="Укажите адрес своей электронной почты — <br>на него придет подтверждение перевода."></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fields comment" style="display: none;">
                    <div class="item">
                        <label for="comment">Комментарий</label>
                        <textarea id="comment" name="customerComment"
                                  placeholder="При желании вы можете указать, на что именно переводите деньги."></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add_comment_box">
                    <a href="#" id="add_comment">Добавить комментарий</a>
                    <a href="#" id="remove_comment">Убрать комментарий</a>
                </div>
            </div>
            <div id="all_payments" class="all_payments">
                <div class="line"></div>
                <h2>Способ перевода</h2>

                <div class="payment_options" id="payment_options">

                    {% if yandexKassa.pc == 1 %}
                        <input type="radio" id="yd_option" name="paymentType" value="PC">
                        <div class="item">
                            <label for="yd_option">
                                <i class="yd"></i>

                                <p>Яндекс.Деньги</p>
                                <span>платеж со счета или банковской карты</span>
                            </label>

                            <div class="over"></div>
                        </div>
                    {% endif %}

                    {% if yandexKassa.gp == 1 %}
                        <input type="radio" id="nalik_option" name="paymentType" value="GP">
                        <div class="item">
                            <label for="nalik_option">
                                <i class="nalik"></i>

                                <p>Наличные</p>
                                <span>через терминалы и салоны связи</span>
                            </label>

                            <div class="over"></div>
                        </div>
                    {% endif %}

                    {% if yandexKassa.ac == 1 %}
                    <input type="radio" id="bc_option" name="paymentType" value="AC">

                    <div class="item" data-over="monthly">
                        <label for="bc_option">
                            <i class="bc"></i>

                            <p>Банковская карта</p>
                            <span>VISA, MasterCard, Maestro</span>
                        </label>

                        <div class="over"></div>
                    </div>
                    {% endif %}

                    {% if yandexKassa.wm == 1 %}
                        <input type="radio" id="wm_option" name="paymentType" value="WM">
                        <div class="item">
                            <label for="wm_option">
                                <i class="wm"></i>

                                <p>WebMoney</p>
                                <span>с рублевого WM-кошелька</span>
                            </label>

                            <div class="over"></div>
                        </div>
                    {% endif %}

                    {% if yandexKassa.mc == 1 %}
                        <input type="radio" id="mobile_option" name="paymentType" value="MC">
                        <div class="item">
                            <label for="mobile_option">
                                <i class="mobile"></i>

                                <p>Счет мобильного телефона</p>
                                <span>МТС, Билайн, Мегафон</span>
                            </label>

                            <div class="over"></div>
                        </div>
                    {% endif %}

                    {% if yandexKassa.sb == 1 %}
                        <input type="radio" id="sb_option" name="paymentType" value="SB">
                        <div class="item">
                            <label for="sb_option">
                                <i class="sb"></i>

                                <p>Сбербанк Онлайн</p>
                                <span>через интернет-банк</span>
                            </label>

                            <div class="over"></div>
                        </div>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="content">
            <div class="make_donation">
                <button type="submit" class="btn yellow">Перевести</button>
                <div id="monthly_type_icon" class="monthly_type_icon"><img
                            src="{{ asset('bundles/saasbundle/campaign/payment/img/visa-3.jpg') }}"></div>
                <p class="tip">Нажимая кнопку, я принимаю
                    <a href="/{{ campaign.url }}/oferta" target="_blank">условия договора.</a></p>

            </div>
        </div>
    </form>
    <div class="page-buffer"></div>
</div>
<footer>
    <div class="share">
        <span>Поделиться в сетях:</span>
        <a href="" class="social_share fb" data-type="fb"></a><a href="" class="social_share vk" data-type="vk"></a><a
                href="" class="social_share twit" data-type="tw"></a>
    </div>
</footer>
<!-- Яндекс.Метрика -->
<script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter152220 = new Ya.Metrika({id: 152220,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
                w.jQuery('body').trigger('ya-counter-152220-inited');
            } catch(e) {}
        });
    })(window, 'yandex_metrika_callbacks');
</script>
<script src="//mc.yandex.ru/metrika/watch_visor.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/152220" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!--  -->

<!-- google -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19216811-1']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setDomainName', '.yandex.net']);
    _gaq.push(['_addOrganic', 'Mail', 'q']);
    _gaq.push(['_addOrganic', 'Nigma', 'q']);
    _gaq.push(['_addOrganic', 'Webalta', 'q']);
    _gaq.push(['_addOrganic', 'Aport', 'r']);
    _gaq.push(['_addOrganic', 'Gogo', 'q']);
    _gaq.push(['_addOrganic', 'QIP', 'query']);
    _gaq.push(['_trackPageview']);
    (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

</script>
<!--  -->
</body>
</html>