{% extends 'base.html.twig' %}

{% block body %}

    <h2>Отчеты</h2>

    <div class="row">
        <div class="span12">
            
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Кампания</th>
            <th>Имя и фамилия жертвователя</th>
            <th>Email</th>
            <th style="width: 100px; text-align: right;">Пожертвовано</th>
            <th style="width: 120px;">Дата и время</th>
            <th>Платежный метод</th>
            <th>Статус</th>
            <th>Признак подписчика</th>
        </tr>

        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.campaign.title }}</td>
                <td>{{ transaction.donor.name }}</td>
                <td>{{ transaction.donor.email }}</td>
                <td>{{ transaction.gross }} {{ transaction.currency }}</td>
                <td>{{ transaction.donor.created | date("d/m/Y H:i:s") }}</td>
                <td>{{ transaction.transactionType }}</td>
                <td>{{ transaction.paymentStatus }}</td>
                <td>{% if transaction.donor.recurrent %}1{% else %}0{% endif %}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>

    {% for pageId in pages %}
        <a href="{{ path('campaign_report', { 'page': pageId }) }}">{{ pageId }}</a>
    {% endfor %}

    <p>
        Отчет по донорам: <a href="{{ path('campaign_report_export') }}" target="_blank">Все</a> или <a href="{{ path('campaign_report_export') }}?recurrent=1">Подписчики на ежемесячные пожертвования</a>
    </p>


{% endblock %}
