{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .reg-sup {
            font-size: 18px;
            color: #f00;
            left: -5px;
            position: relative;
            top: -11px;
        }
    </style>

    <h2>Настройки</h2>

    <h3>Основные настройки</h3>
    <div>
        <form action="{{ updateEmailSettingsRoute }}" method="post">
			<input name="token" type="hidden" value="{{ token }}" />
            {{ email_setting_errors | raw }}
            <p>
                <sup class="reg-sup">*</sup><input type="text" name="company_name" placeholder="Название организации"
                       value="{{ company_name }}">
                Название организации </p>
            <p>
                <sup class="reg-sup">*</sup><input type="text" name="director_name" placeholder="ФИО директора"
                                                   value="{{ director_name }}">
                ФИО директора (в родительном падеже)</p>
            <p>
                <sup class="reg-sup">*</sup><input type="text" name="position" placeholder="директора" value="{{ position }}">
                Название должности (в родительном падеже)</p>
            <p>
                <sup class="reg-sup">*</sup><input type="text" name="authority" placeholder="Устава" value="{{ authority }}">
                Основание полномочий (в родительном падеже)</p>
            <p>
                <sup class="reg-sup">*</sup>
                <textarea rows="5" cols="60" name="details" placeholder="Юр.адрес: ___________________
Почтовый адрес: ______________
ОГРН _________
ИНН ___________
КПП __________
Р/сч. ___________
к/с _____________
БИК ______________ ">{{ details }}</textarea>
                Реквизиты </p>
            <p>
                <sup class="reg-sup">*</sup><input type="email" name="notification_email" placeholder="no-reply@your.domain"
                       value="{{ notification_email }}">
                Ваш e-mail для получения уведомлений о поступивших пожертвованиях </p>

            <p>
                <sup class="reg-sup">*</sup><input type="text" name="sender_name" placeholder="John Doe" value="{{ sender_name }}"><br/>
                Ваше имя, которое жертвователь увидит в письме-уведомлении об успешно сделанном пожертвовании.
            </p>

            <p>
                <sup class="reg-sup">*</sup><input type="email" name="sender_email" placeholder="your.email@your.domain"
                       value="{{ sender_email }}"><br/>
                Ваш e-mail, адрес которого жертвователь увидит в письме-уведомлении об успешно сделанном пожертвовании.
                <br/>
                Мы отправляем это письмо с благодарностью от вашего имени.
            </p>
            <input type="hidden" name="csv_separator" value=";"/>
            <!--<p>
                <select id="csv_separator" name="csv_separator">
                    <option value=";" {{ csv_separator == ';' ? 'selected' : '' }}>Semicolon - ";"</option>
                    <option value=","  {{ csv_separator == ',' ? 'selected' : '' }}>Comma - ","</option>
                    <option value="tab"  {{ csv_separator == 'tab' ? 'selected' : '' }}>Tab</option>
                </select>
            </p>-->
            {% if userIdForEdit %}
                <input type="hidden" name="userId" value="{{ userIdForEdit }}"/>
            {% endif %}
            <p>
                <button type="submit" id="form_save" name="save">Сохранить основные настройки</button>
            </p>
        </form>
    </div>
{% if updateYKSettingsRoute %}
    <h3>Настройки Кассы от Яндекс.Деньги</h3>
    <div>
        <p>Укажите, пожалуйста, shopId, scid и shoppassword, выданные вам при заключении договора с Яндекс.Деньги.
            Если у вас еще нет договора с Яндекс.Деньги, подайте заявку на заключение договора здесь _ссылка_.
        </p>

        <form action="{{ updateYKSettingsRoute }}" method="post" enctype="multipart/form-data">
			<input name="token" type="hidden" value="{{ token }}" />
            {{ shopErrors | raw }}

            <p><label><sup class="reg-sup">*</sup>shopId:
                    <input type="text" name="yandex_shopid" value="{{ shopid }}">
                </label></p>

            <p><label><sup class="reg-sup">*</sup>scid:
                    <input type="text" name="yandex_scid" value="{{ scid }}">
                </label></p>

            <p><label><sup class="reg-sup">*</sup>shoppw:
                    <input type="text" name="yandex_shoppw" value="{{ shoppassword }}">
                </label></p>

            <p><label>
                    <input type="checkbox" name="yandex_pt_pc" {{ pc ? 'checked' : '' }}>
                    PC (Яндекс.Деньги)</label></p>

            <p><label>
                    <input type="checkbox" name="yandex_pt_ac" {{ ac ? 'checked' : '' }}>
                    AC (Банковские карты)</label></p>

            <p><label>
                    <input type="checkbox" name="yandex_pt_wm" {{ wm ? 'checked' : '' }}>
                    WM (WebMoney)</label></p>

            <p><label>
                    <input type="checkbox" name="yandex_pt_mc" {{ mc ? 'checked' : '' }}>
                    MC (Счет мобильного телефона)</label></p>

            <p><label>
                    <input type="checkbox" name="yandex_pt_gp" {{ gp ? 'checked' : '' }}>
                    GP (Наличные)</label></p>

            <p><label>
                    <input type="checkbox" name="yandex_sandbox" {{ sandbox ? 'checked' : '' }}>
                    Sandbox режим</label></p>

            {{ fileErrors | raw }}

            {#
            <p><label><sup class="reg-sup">*</sup>Файл сертификата: {{ certificate }}
                    <input type="file" name="cert_file">
                </label></p>

            <p><label><sup class="reg-sup">*</sup>Файл ключа: {{ certkey }}
                    <input type="file" name="cert_key_file">
                </label></p>

            <p><label><sup class="reg-sup">*</sup>Пароль к сертификату:
                    <input type="text" name="cert_pass" value="{{ certpass }}">
                </label></p>
            #}
            <p>
                {% if userIdForEdit %}
                    <input type="hidden" name="userId" value="{{ userIdForEdit }}"/>
                {% endif %}
                <button type="submit" id="form_save" name="save">Сохранить настройки Кассы</button>
            </p>
        </form>
    </div>
{% endif %}
    <h3>Настройки доступа</h3>
    <div>
        <form action="{{ updatePasswordRoute }}" method="post">
			<input name="token" type="hidden" value="{{ token }}" />
            {{ password_setting_errors | raw }}
            {% if userIdForEdit %}
                <input type="hidden" name="userId" value="{{ userIdForEdit }}"/>
            {% else %}
                <p><label><sup class="reg-sup">*</sup>Старый пароль:
                        <input type="password" name="old_password">
                    </label></p>
            {% endif %}
            <p><label><sup class="reg-sup">*</sup>Новый пароль:
                    <input type="password" name="new_password">
                </label></p>

            <p><label><sup class="reg-sup">*</sup>Повторите новый пароль:
                    <input type="password" name="new_password_repeat">
                </label></p>

            <p>

                <button type="submit" id="form_save" name="save">Сохранить настройки доступа</button>
            </p>
        </form>
    </div>

{% endblock %}