<!DOCTYPE html>
<html class="i-ua_js_no i-ua_css_standard" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Вместе: для добрых дел</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script>;
        (function (d, e, c, r) {
            e = d.documentElement;
            c = "className";
            r = "replace";
            e[c] = e[c][r]("i-ua_js_no", "i-ua_js_yes");
            if (d.compatMode != "CSS1Compat")e[c] = e[c][r]("i-ua_css_standart", "i-ua_css_quirks")
        })(document);
        ;
        (function (d, e, c, r, n, w, v, f) {
            e = d.documentElement;
            c = "className";
            r = "replace";
            n = "createElementNS";
            f = "firstChild";
            w = "http://www.w3.org/2000/svg";
            e[c] += " i-ua_svg_" + (!!d[n] && !!d[n](w, "svg").createSVGRect ? "yes" : "no");
            v = d.createElement("div");
            v.innerHTML = "<svg/>";
            e[c] += " i-ua_inlinesvg_" + ((v[f] && v[f].namespaceURI) == w ? "yes" : "no");
        })(document);</script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if gt IE 9]><!-->
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/css/_promo-vmeste.css?v=pgKsXAN') }}"/>
    <!--<![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/css/_promo-vmeste.ie6.css?v=1WGofg3') }}"/><![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/css/_promo-vmeste.ie7.css?v=gPOoB3%2F') }}"/><![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/css/_promo-vmeste.ie8.css?v=YiFfd6l') }}"/><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="{{ asset('bundles/saasbundle/css/_promo-vmeste.ie9.css?v=SErAHeq') }}"/><![endif]-->
</head>
<body class="b-page b-page__body i-ua i-ua_interaction_yes i-global i-bem"
      data-bem="{&quot;i-ua&quot;:{},&quot;i-global&quot;:{&quot;lang&quot;:&quot;ru&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;content-region&quot;:&quot;ru&quot;,&quot;click-host&quot;:&quot;//clck.yandex.ru&quot;,&quot;passport-host&quot;:&quot;https://passport.yandex.ru&quot;,&quot;pass-host&quot;:&quot;//pass.yandex.ru&quot;,&quot;social-host&quot;:&quot;//social.yandex.ru&quot;,&quot;export-host&quot;:&quot;//export.yandex.ru&quot;,&quot;login&quot;:&quot;&quot;,&quot;lego-static-host&quot;:&quot;//yastatic.net/lego/2.10-142&quot;,&quot;id&quot;:&quot;money&quot;,&quot;debug&quot;:true,&quot;lego-path&quot;:&quot;/lego&quot;}}">
<div class="page promo-page-vmeste">
    <div class="page__head promo-page-vmeste__head">
        <div class="page__section promo-page-vmeste__section">
            <div class="promo-page-vmeste__helper promo-page-vmeste__helper_type_head">
                <div class="logo logo_lang_ru"><a class="logo__link" href="http://www.yandex.ru"><img
                                class="logo__image" alt="yandex"
                                src="https://yastatic.net/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif"/></a></div>
                <a class="service-arrow i-font i-font_face_textbook" href="https://money.yandex.ru">Деньги</a></div>
        </div>
    </div>
    <div class="promo-kind-things promo-page-vmeste__content">
        <div class="promo-kind-things__section promo-page-vmeste__section i-font i-font_face_textbook">
            <div class="promo-kind-things__slogan">Для добрых дел</div>
            <div class="promo-kind-things__caption">Меняйте мир к лучшему, а собрать на это средства помогут готовые
                инструменты.<br/>Выбирайте и пользуйтесь.
            </div>
        </div>
    </div>
    <div class="page__content promo-page-vmeste__content layout layout_type_three-column">
        <div class="page__section promo-page-vmeste__section">
            <div class="promo-page-vmeste__helper promo-page-vmeste__helper_type_content">
                <div class="promo-charity promo-charity_type_cashdesk layout__col layout__col_size_1 i-bem"
                     data-bem="{&quot;promo-charity&quot;:{}}">
                    <div class="promo-charity__inner">
                        <div class="promo-charity__caption">Все возможности</div>
                        <h3 class="promo-charity__title i-font i-font_face_textbook">Касса</h3>

                        <div class="promo-charity__description">Заполните анкету, подпишите договор и получите готовый
                            сайт.
                        </div>
                        <ul class="promo-charity__features">
                            <li class="promo-charity__item">Все популярные способы перевода денег.</li>
                            <li class="promo-charity__item">Возможность включить ежемесячные списания.</li>
                            <li class="promo-charity__item">Зачисление средств на ваш счет в банке.</li>
                        </ul>
                        <div class="form__item promo-charity__button"><a
                                    class="button button_size_l button_theme_normal i-bem"
                                    data-bem="{&quot;button&quot;:{}}" role="button"
                                    href="https://vmeste.yandex.ru/kassa/"><span class="button__text">Заполнить анкету</span></a>
                        </div>
                    </div>
                </div><div class="promo-charity promo-charity_type_quickpay layout__col layout__col_size_1">
                    <div class="promo-charity__inner">
                        <div class="promo-charity__caption">Быстрое решение</div>
                        <h3 class="promo-charity__title i-font i-font_face_textbook">Форма</h3>

                        <div class="promo-charity__description">Соберите форму в конструкторе и&nbsp;вставьте её на сайт
                            или в блог.
                        </div>
                        <ul class="promo-charity__features">
                            <li class="promo-charity__item">Быстрое создание формы.</li>
                            <li class="promo-charity__item">Приём Яндекс.Денег и средств с банковских карт.</li>
                            <li class="promo-charity__item">Зачисление на ваш счет в&nbsp;банке.</li>
                        </ul>
                        <div class="form__item promo-charity__button"><a
                                    class="button button_size_l button_theme_normal i-bem"
                                    data-bem="{&quot;button&quot;:{}}" role="button"
                                    href="https://money.yandex.ru/fastpay/"><span class="button__text">Сделать форму</span></a>
                        </div>
                    </div>
                </div><div class="promo-charity promo-charity_type_page layout__col layout__col_size_1">
                    <div class="promo-charity__inner">
                        <div class="promo-charity__caption">Только необходимое</div>
                        <h3 class="promo-charity__title i-font i-font_face_textbook">Страница</h3>

                        <div class="promo-charity__description">Расскажите, на что собираете, получите страницу и
                            поделитесь ей с неравнодушными.
                        </div>
                        <ul class="promo-charity__features">
                            <li class="promo-charity__item">Быстрое создание страницы.</li>
                            <li class="promo-charity__item">Приём средств с банковских карт.</li>
                            <li class="promo-charity__item">Зачисление на ваш электронный кошелек.</li>
                        </ul>
                        <div class="form__item promo-charity__button"><a
                                    class="button button_size_l button_theme_normal i-bem"
                                    data-bem="{&quot;button&quot;:{}}" role="button"
                                    href="https://soberem.vmeste.yandex.ru/"><span
                                        class="button__text">Сделать страницу</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer_type_promo-vmeste clearfix inline inline_color_footer" role="contentinfo">
        <div class="footer__row clearfix promo-page-vmeste__section">
            <div class="footer__column footer__column_type_left">
                <div class="footer__subrow clearfix">
                    <div class="footer__support">
                        <div class="footer__support-phone">8 800 555 80 99</div>
                        <div class="footer__support-email"><a class="link inline inline_color_footer"
                                                              href="http://money.yandex.ru/feedback/">Написать</a></div>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column_type_right">
                <div class="footer__subrow inline inline_align_right">
                    <div class="footer__about inline"><a class="link link_type_ya-footer-link"
                                                         href="https://money.yandex.ru/about.xml">О компании</a></div>
                    <div class="footer__copy inline">
                        <div class="copyright copyright_type_ya-footer-link">&copy;&nbsp;2014&nbsp;&nbsp;ООО НКО
                            «Яндекс.Деньги»
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//yastatic.net/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ asset('bundles/saasbundle/js/_promo-vmeste.js?v=8HLeyHM') }}"></script>
</body>
</html>