<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Index 3</title>
  <link rel="stylesheet" href="{{ asset('bundles/saasbundle/transaction/css/font.css') }}"/>
  <link rel="stylesheet" href="{{ asset('bundles/saasbundle/transaction/css/styles.css') }}"/>
  <script src="{{ asset('bundles/saasbundle/js/libs/jquery-2.1.1.min.js') }}"></script>
  <script src="{{ asset('bundles/saasbundle/js/app.js') }}"></script>
</head>
<body>
<header>
  <div class="content">
    <h1>{{ title }}</h1>
    <div class="logo"><img src="{{ img }}"/></div>
  </div>
</header>
<div class="line"></div>
<div class="content">
	<div class="text-box">
	{% if error %}
		{{ error }}
	{% else %}
	Вы уверены, что хотите отказаться от ежемесячных пожертвований?
	<br>
	<div>
		<form method="GET" enctype="application/x-www-form-urlencoded" id="subscription_form" name="subscription_form">
			<input type="hidden" name="recurrent" value="{{ recurrent }}"/>
			<input type="hidden" name="invoice" value="{{ invoice }}"/>
			<input type="hidden" name="yes" id="yes" value="1"/>
	  		<button type="button" class="btn yellow" id="accept" name="accept">Да, отказаться</button>
	  		<button type="button" class="btn decline" id="decline" name="decline">Нет, продолжать</button>
  		</form>
	</div>
	
	{% endif %}
  </div>
</div>
<script>
	$(document).ready(function(){
		$('#decline').on('click', function(){
			$('#yes').val('2');
			$('#subscription_form').submit();
			//return false;
		});
		$('#accept').on('click', function(){
			$('#yes').val('1');
			$('#subscription_form').submit();
			//return false;
		})
	});
</script>

</body>
</html>
