{% extends 'base.html.twig' %}

{% block body %}

    <h2>Пользователи</h2>

    <div class="row">
        <div class="span12">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('admin_user_create') }}">Новый пользователь</a>
            </div>
        </div>
    </div>

    {% if user_created %}
        <div>{{ user_created }}</div>
    {% endif %}
    <table width="100%">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Организация</th>
            <th>Роль</th>
            <th>Статус</th>
            <th>Создан</th>
            <th>Изменен</th>
            <th>Действия</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td align="center">{{ user.email }}</td>
                <td align="center">
                    {% if user.settings is not empty %}
                        {{ user.settings[0].companyName }}
                    {% endif %}
                </td>
                <td align="center">
                    {% for role in user.roles %}
                        <p>{{ role.name }}</p>
                    {% endfor %}
                </td>
                <td align="center">
                    {% for status in user.statuses %}
                        <p>{{ status.name }}</p>
                    {% endfor %}
                </td>
                <td align="center">{{ user.created|date("d/m/Y") }}</td>
                <td align="center">{{ user.changed|date("d/m/Y") }}</td>
                <td align="center">
                    <a href="{{ path('admin_user_edit', { 'id':user.id, 'page': page }) }}">
                        <img src="{{ asset('bundles/saasbundle/img/edit.png') }}" title="Редактировать"
                             alt="Редактировать" border="0">
                    </a>
                    {% for status in user.statuses %}
                        {% if status.status == 'BLOCKED' %}
                            <a href="{{ path('admin_user_activate', { 'id':user.id, 'page': page  }) }}">Активировать</a>
                        {% else %}
                            <a href="{{ path('admin_user_block', { 'id':user.id, 'page': page  }) }}"><img
                                        src="{{ asset('bundles/saasbundle/img/block.png') }}" title="Заблокировать"
                                        alt="Заблокировать" border="0"></a>
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('admin_user_delete', { 'id':user.id, 'page': page  }) }}">
                        <img src="{{ asset('bundles/saasbundle/img/delete.png') }}" title="Удалить" alt="Удалить" border="0">
                    </a>
                    {% if user.role == 'ROLE_USER' %}
                        &nbsp;<a href="{{ path('admin_customer_settings', { 'userId' : user.id }) }}">Настройки</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% for pageId in pages %}
        <a href="{{ path('admin_user', { 'page': pageId }) }}">{{ pageId }}</a>
    {% endfor %}


{% endblock %}
