{% extends 'base.html.twig' %}

{% block body %}

    <h2>Транзакции</h2>

    <form action="{{ path('transaction_report_search') }}" method="get" style="margin-bottom: 10px;">
        <input type="text" name="searchRequest" value="">
        <input type="submit" class="btn" value="Search">
    </form>
<style>
    .table-striped {font-size: 13px;}
</style>
    <table class="table table-striped">
        <tr>
            <th>Название кампании</th>
            <th>Имя</th>
            <th>Email</th>
            <th style="width: 100px;">Пожертвовано</th>
            <th style="width: 140px;">Дата платежа</th>
            <th>Платежный метод</th>
            <th>Статус</th>
            <th>Признак подписчика</th>
        </tr>

        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.campaign.title }}</td>
                <td>{{ transaction.donor.name }}</td>
                <td>{{ transaction.donor.email }}</td>
                <td>{{ transaction.gross }} {{ transaction.currency }}</td>
                <td>{{ transaction.changed | date("d/m/Y H:i:s") }}</td>
                <td>{{ transaction.transactionType }}</td>
                <td>{{ transaction.paymentStatus }}</td>
                <td>{% if transaction.donor.recurrent and transaction.paymentStatus == 'COMPLETED' %}
                        <span style="cursor: help" title="Следующее списание: {{ transaction.donor.recurrent.nextDate  | date("d/m/Y H:i:s")}}
Предыдущее списание: {{ transaction.donor.recurrent.successDate  | date("d/m/Y H:i:s")}}
Последний статус: {{ transaction.donor.recurrent.lastStatus }}
Последняя ошибка: {{ transaction.donor.recurrent.lastError }}">1</span> {% else %}0{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% for pageId in pages %}
        <a href="{{ path('transaction_report', { 'page': pageId }) }}">{{ pageId }}</a>
    {% endfor %}

    <p>
        Отчет по поступившим пожертвованиям: <a href="{{ path('transaction_report_export') }}" target="_blank">По всем транзакциям</a>
    </p>

    <form action="{{ path('transaction_report_export') }}" enctype="application/x-www-form-urlencoded" method="GET" class="report-form">
        или в <button type="submit">период</button>
        <input type="date" name="start" value="2014-09-29" required="">
        <input type="date" name="end" value="2014-09-29" required="">
    </form>


{% endblock %}
